%h1= "#{@name}'s Blog"

%p Hey what's up? Welcome to my blog. I'm Youssif.

-if flash[:notice].present?
	%p=flash[:notice]


%ul
- @posts.each do |post|
	<li>
	%a=link_to post.title, post_path(post)
	</li>

